.services{
    background-image: url("../images/services_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    margin: 0 auto;
    
    &__wrapper{
        padding: 99px 0;
        display: flex;
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;
        overflow: hidden;

        p{
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
            line-height: 187.5%;
            text-transform: capitalize;
        }
        &-list{
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;
            cursor: pointer;

            &:hover &-img{
                transform: scale(1.3);
                transition: all 1s;
            }

            &-img{
                border-radius: 50%;
                padding: 17px;
                background-color: #fff;
                transition: all 1s;
                
            }
        }
    }

    &__title{
        filter: brightness(1);
        color: #FFF;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 187.5%; 
        width: 826px;
        margin: 0 auto;
        padding-top: 93px;
        padding-bottom: 25px;
    }

    &__text{
        width: 820px;
        margin: 0 auto;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        line-height: 187.5%;
    }
}