.lisense{
    padding: 29px 0;
    background-color: black;
    margin: 0 auto;
    width: 100%;

    p{
        color: #FFF;
        text-align: center;
        font-size: 13px;
        line-height: 190.6%; /* 24.778px */
    }
}